TP_WSDL/Paiements.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.com/payments" name="PaymentService" targetNamespace="http://example.com/payments">
 
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/payments">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <element name="PaymentRequest">
        <complexType>
          <sequence>
            <element name="Amount" type="xsd:decimal"/>
            <element name="Currency" type="xsd:string"/>
            <element name="CardNumber" type="xsd:string"/>
            <element name="ExpirationDate" type="xsd:date"/>
            <element name="SecurityCode" type="xsd:int"/>
          </sequence>
        </complexType>
      </element>
      <element name="PaymentResponse">
        <complexType>
          <sequence>
            <element name="TransactionID" type="xsd:string"/>
            <element name="Status" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
 
  <message name="PaymentRequest">
    <part name="PaymentRequest" element="tns:PaymentRequest"/>
  </message>
 
  <message name="PaymentResponse">
    <part name="PaymentResponse" element="tns:PaymentResponse"/>
  </message>
 
  <portType name="PaymentPortType">
    <operation name="MakePayment">
      <input message="tns:PaymentRequest"/>
      <output message="tns:PaymentResponse"/>
    </operation>
  </portType>
 
  <binding name="PaymentBinding" type="tns:PaymentPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="MakePayment">
      <soap:operation soapAction="http://example.com/payments/MakePayment"/>
      <input>
        <soap:body use="encoded" namespace="http://example.com/payments" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://example.com/payments" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
 
  <service name="PaymentService">
    <port name="PaymentPort" binding="tns:PaymentBinding">
      <soap:address location="http://example.com/payments"/>
    </port>
  </service>
 
</definitions>
