TP_WSDL/SuiviDesCommandes.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://example.com/ordertracking" name="OrderTrackingService" targetNamespace="http://example.com/ordertracking">
 
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/ordertracking">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <element name="OrderID">
        <complexType>
          <sequence>
            <element name="ID" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="OrderInfo">
        <complexType>
          <sequence>
            <element name="OrderDate" type="xsd:date"/>
            <element name="Status" type="xsd:string"/>
            <element name="ShippingInfo" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
 
  <message name="GetOrderInfoRequest">
    <part name="OrderID" element="tns:OrderID"/>
  </message>
 
  <message name="GetOrderInfoResponse">
    <part name="OrderInfo" element="tns:OrderInfo"/>
  </message>
 
  <portType name="OrderTrackingPortType">
    <operation name="GetOrderInfo">
      <input message="tns:GetOrderInfoRequest"/>
      <output message="tns:GetOrderInfoResponse"/>
    </operation>
  </portType>
 
  <binding name="OrderTrackingBinding" type="tns:OrderTrackingPortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetOrderInfo">
      <soap:operation soapAction="http://example.com/ordertracking/GetOrderInfo"/>
      <input>
        <soap:body use="encoded" namespace="http://example.com/ordertracking" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="http://example.com/ordertracking" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
 
  <service name="OrderTrackingService">
    <port name="OrderTrackingPort" binding="tns:OrderTrackingBinding">
      <soap:address location="http://example.com/ordertracking"/>
    </port>
  </service>
 
</definitions>
